@charset "UTF-8";
:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --alt-title-color: #ffffff;
  --alt-text-color: #ffffff;
  --transp-text-color: rgba(255, 255, 255, 0.6);
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --logo-color: #afb1b8;
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--background-color);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.link,
.logo {
  color: inherit;
  text-decoration: none;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.address {
  font-style: inherit;
}

.address__item {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item--transp {
  color: var(--transp-text-color);
}

/* LOGO */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo--alt {
  color: var(--alt-title-color);
}

.logo__accent {
  color: var(--accent-color);
}

.site-nav__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .site-nav__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
  }
}

/* Кнопка */
.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--alt-text-color);
  background: var(--accent-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  max-height: 100vh;
  overflow-y: auto;
  padding: 40px;
  width: 95%;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform, visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
}

/* Форма */
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-color);
}

.order-form__fild {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.order-form__data {
  height: 40px;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.order-form__data:focus {
  border-color: var(--accent-color);
}

.order-form__data:focus + .order-form__icon {
  fill: var(--accent-color);
}

.order-form__icon {
  position: absolute;
  bottom: 14px;
  left: 14px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__massage-fild {
  margin-bottom: 20px;
}

.order-form__massage {
  box-sizing: border-box;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.order-form__massage::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form__agreement-link {
  color: var(--accent-color);
}

.order-form__agreement-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .order-form__agreement-label {
    font-size: inherit;
  }
}

.order-form__agreement-label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__checkbox:checked ~ .order-form__agreement-label::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/сheck.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.order-form__button {
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form__button:hover,
.order-form__button:focus {
  background-color: #188ce8;
}

/* Соц. сети */
.socials {
  display: flex;
  justify-content: center;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:not(:last-child) {
  margin-right: 10px;
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--alt-text-color);
}

.socials__icon {
  fill: currentColor;
}

/* Форма подписки */
.subscription {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 0;
    align-items: normal;
  }
}

.subscription__fild {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .subscription__fild {
    display: flex;
    flex-wrap: wrap;
  }
}

.subscription__title {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--alt-title-color);
}

@media screen and (min-width: 1200px) {
  .subscription__title {
    text-align: left;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscription__title {
    margin-top: 60px;
  }
}

.subscription__mail {
  max-width: 450px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--alt-text-color);
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .subscription__mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__mail {
    margin-right: 12px;
    width: 358px;
  }
}

.subscription__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1199.98px) {
  .subscription__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}

.subscription__icon {
  fill: currentColor;
  margin-left: 10px;
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/* section */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* team*/
.team {
  background-color: var(--second-background-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  flex-basis: 100%;
  padding-bottom: 30px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__pic {
  margin-bottom: 30px;
}

.team__specialty {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

/* clients */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.clients__link {
  flex-basis: calc((100% - 30px * 2) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  color: var(--logo-color);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/* work */
@media screen and (max-width: 1199.98px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__pic {
  display: block;
}

.work__item {
  position: relative;
}

.work__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--alt-title-color);
}

.work__description {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Контакты */
.contacts {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 1199.98px) {
  .contacts__link {
    padding: 0;
  }
}

.contacts__item:hover, .contacts__item:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__contacts {
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .header__contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
  }
}

/* Навигация */
.site-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .site-nav {
    justify-content: space-between;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__list {
  display: flex;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.link--current {
  color: var(--accent-color);
  position: relative;
}

.link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.1px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

@media screen and (max-width: 767.98px) {
  .site-nav__list {
    display: none;
  }
}

/* HERO */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-color: var(--dark-background-color);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header_img_mobile.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header_img_tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header_img_desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767.98px), screen and (min-resolution: 192dpi) and (max-width: 767.98px), screen and (min-resolution: 2dppx) and (max-width: 767.98px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/header_img@2x_mobile.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/header_img@2x_tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header_img@2x_desktop.jpg);
  }
}

.hero__container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

/* Хедер */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  border-bottom: 1px solid #ececec;
}

/* portfolio */
.portfolio__menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .portfolio__menu {
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 25px;
  }
}

.portfolio__button {
  padding: 6px 22px;
  height: 38px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--second-background-color);
  border-width: 0;
  box-shadow: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .portfolio__button {
    margin-bottom: 15px;
  }
}

.portfolio__menu-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button:hover, .portfolio__button:focus {
  color: var(--alt-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.99px) {
  .portfolio__item {
    width: 100%;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__caption {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
}

.portfolio__img {
  display: block;
}

.portfolio__title {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio__category {
  display: block;
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--accent-color);
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translatey(0);
}

.portfolio__description {
  font-size: 18px;
  line-height: 1.56;
  color: var(--alt-text-color);
}

/* footer */
.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address__list {
  color: var(--alt-text-color);
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address__list {
    text-align-last: left;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__flexpad {
    display: flex;
    justify-content: space-around;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    align-items: flex-start;
  }
}

.footer__add {
  display: block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__add {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__add {
    align-items: start;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--alt-title-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 767.98px) {
  .footer__title {
    margin-top: 60px;
  }
}

.footer__socials-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--alt-text-color);
}

.footer__socials-link:hover, .footer__socials-link:focus {
  background-color: var(--accent-color);
}

/* features */
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0px;
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features__item {
  flex-basis: 100%;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.feature__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background: var(--second-background-color);
  border-radius: 4px;
}

.features__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.mobile-menu--button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobile-menu--button {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}

.mobile-menu--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 100%;
}

.mobile-menu--close {
  position: absolute;
  right: 25px;
  top: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile-menu--list .mobile-menu--item .mobile-menu--link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mobile-menu--list .mobile-menu--item .mobile-menu--link:hover, .mobile-menu--list .mobile-menu--item .mobile-menu--link:focus {
  color: var(--accent-color);
}

.mobile-menu--list .mobile-menu--item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu--tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu--mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu--social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu--social-list {
  display: flex;
}

.mobile-menu--contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu--contacts-list {
  margin-bottom: 64px;
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.mobile-menu--social-item {
  position: relative;
}

.mobile-menu--social-item:not(:first-child) {
  margin-left: 20px;
}

.mobile-menu--social-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 2px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */