.address {
  font-style: inherit;
}
.address__item {
  display: block;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__item--transp {
  color: var(--transp-text-color);
}
