:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --alt-title-color: #ffffff;
  --alt-text-color: #ffffff;
  --transp-text-color: rgba(255, 255, 255, 0.6);

  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --logo-color: #afb1b8;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
