/* clients */

.clients__list {
  display: flex;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  color: var(--logo-color);
}

.clients__link {
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__icon {
  fill: currentColor;
}
