/* Контакты */

.contacts {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  @media screen and (max-width: 1199.98px) {
    padding: 0;
  }
}

.contacts__item {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: 1199.98px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__contacts {
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
  }
}
