/* Навигация */

.site-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__list {
  display: flex;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.link--current {
  color: var(--accent-color);
  position: relative;
}

.link--current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.1px;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.site-nav__list {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}
