/* work */
.work__list {
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__pic {
  display: block;
}
.work__item {
  position: relative;
}
.work__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--alt-title-color);
}

.work__description {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
